.edit_plant_container {
    background-color: #4D774E;
	border-radius: 15px;
	height: 510px;
	width: 500px;
	position: relative;
	overflow: hidden;
}

.edit_plant_structure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
}

.edit_plant_title {
    color: #f6f2e9;
    font-size: 1.7em;
    text-align: center;
    font-family: 'Alegreya', sans-serif;
}

.edit_plant_body {
    border-radius: 15px;
    background-color: #f6f2e9;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
}

.input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 25px;
    line-height: 30px;
    padding: 8px 15px;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f2e9;
}

.bigger_input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f2e9;
}

.file_input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 20px;
    line-height: 30px;
    padding: 5px 15px;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f2e9;
}

.edit_plant_button {    
    background-color: rgba(0,0,0,0.4);
    color: #f6f2e9;
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 4px auto; 
    padding: 8px 30px;
    width: 70%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    font-family: 'Alegreya', sans-serif;
}

.edit_plant_button:hover {
    background-color: #ffa903;
    box-shadow: 2px 2px 2px #9DC88D;
}

.edit_plant_label {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-left: 16px;
    color: rgba(0,0,0,0.5);
}