.plant_container {
    display: flex;
    width: 230px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
    background-color: #f6f2e9;
    border-radius: 8px;
}


.plant_container:hover {
    transition:ease-in-out;
    box-shadow: 0px 0px 15px #4D774E;
    z-index: 30px;
}

.plant_img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.plant_display_name {
    font-family: 'Alegreya', sans-serif;
}

.plant_display_link {
    text-decoration: none;
    color: black;
}